$white: #fff;

$black: #000;

$main_font: "helvetica_regular";
$bold_font: "helvetica_bold";

$minMedia: "(max-width:575px)";
$smallMedia: "(max-width:767px)";
$maxMedia: "(max-width:991px)";
$largeMedia: "(max-width:1199px)";
