/*====================== start heading ======================================*/

.head_main {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 80px;
  // color: $mainColor;
}
span.title {
  font-weight: 500;
  font-size: 18px;
  color: #d22b35;
  text-align: center;
}
/*====================== end heading ======================================*/
